################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Anvedi/GeneratedFiles
/Anvedi/x64
/QShell/GeneratedFiles
/QShell/x64/Debug
/x64/Debug
/Anvedi.sdf
/Anvedi.v12.suo
/Anvedi/Anvedi.v12.suo
*.opensdf
/x64/Release
/QShell/x64/Release/QShell.tlog
*.obj
*.log
/AnvediCheExe/x64/Debug
/AnvediCheTests/GeneratedFiles/Debug
/AnvediCheTests/x64/Debug
